.widget {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 999;
    opacity: 1;
}

.widget.open {
    height: 86%;
    width: 25%;
}

.widget.hidden {
    overflow: hidden;
    width: 90px;
    height: 30px;
}

.widget.expanded {
    height: 86%;
    width: 30%;
}

.widget.closed {
    display: none;
}
