.widget {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 999;
    opacity: 1;
    border-radius: 1em;
}

.widget.open {
    height: 90%;
    width: 25%;
}

.widget.only-button {
    overflow: hidden;
    width: 90px;
    height: 30px;
}

.widget.expanded {
    height: 100%;
    width: 50%;
    bottom: 0px;
}

.widget.closed {
    display: none;
}
